<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
        <target name="debugger" xsi:type="Console">
            <layout xsi:type="CSVLayout" delimiter="Tab">
                <column name="timestamp" layout="${longdate}" />
                <column name="source" layout="${callsite}" />
                <column name="level" layout="${level}" />
                <column name="message" layout="${message}" />
            </layout>
        </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="debugger" />
  </rules>
</nlog>
